extends layout

block header
  h2 Middlearth Travelogue
  ul
    li
      a Realms

block content
  p Here you can discover all about Middlearth, find all its secrets

block footer
  div Proceed with caution and on your own discretion!