extends layout
include mixins/_realmCard

block content
  h1= title
  ul.realms
    each realm in realms
      +realmCard(realm)

block footer
  div Please note that this is an opinionated list of realms and it can be changed without prior notice.