extends layout
include mixins/_realmCard

block content
  h1 #{tag || title}

  ul(style="list-style-type: none;")
    for t in tags
      li
        a(href=`/tags/${t._id}` style=(t._id === tag ? "color: red; font-weight: bold; text-decoration: underline;" : "color: #000; text-decoration: none;")) #{t._id}
        span  --- #{t.count}

  br
  br
  ul
    each realm in realms
      +realmCard(realm)
