mixin realmCard(realm = {})
  li.realm
    a(href=`/realm/${realm.slug}`) #{realm.name} 
    - const processedDescription = realm.description.split(" ")
    span.description --- #{processedDescription.slice(0, 15).join("")}#{processedDescription.length > 15 ? "..." : ""}
