- const uppercaseCountry = country.toUpperCase()
h2 | Heya-heya!
h2 
  | This is the realm called #{uppercaseCountry}
p It lies to the #{direction}
img(src="gondor.jpg" alt=`The capital of ${uppercaseCountry}`)