extends ../layout

block header 
  h2 Rohan

block content
  p Find all about the realm of Rohan

block footer
  p All information herein is provided by Traders Guild.
  p Trader Guild received their information from Gondor officials.